@import url(../variables.css);

/*======== BADGE ========*/
.slk-badge {
  display: inline-block;
  padding: 6px 12px;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
  /* text-transform: uppercase; */
  color: var(--slk-color-white);
}

/*======== BADGE DEFAULT ========*/
.slk-badge-default {
  background-color: var(--slk-color-secondary);
}

.slk-badge-default.slk-badge-ghost {
  color: var(--slk-color-secondary);
  border: 1px solid var(--slk-color-secondary);
}

/*======== BADGE PRIMARY ========*/
.slk-badge-primary {
  background-color: var(--slk-color-primary);
}

.slk-badge-primary.slk-badge-ghost {
  color: var(--slk-color-primary);
  border: 1px solid var(--slk-color-primary);
}

/*======== BADGE SUCCESS ========*/
.slk-badge-success {
  background-color: var(--slk-color-success);
}

.slk-badge-success.slk-badge-ghost {
  color: var(--slk-color-success);
  border: 1px solid var(--slk-color-success);
}

/*======== BADGE INFO ========*/
.slk-badge-info {
  background-color: var(--slk-color-info);
}

.slk-badge-info.slk-badge-ghost {
  color: var(--slk-color-info);
  border: 1px solid var(--slk-color-info);
}

/*======== BADGE DANGER ========*/
.slk-badge-danger {
  background-color: var(--slk-color-danger);
}

.slk-badge-danger.slk-badge-ghost {
  color: var(--slk-color-danger);
  border: 1px solid var(--slk-color-danger);
}

/*======== BADGE DARK ========*/
.slk-badge-dark {
  background-color: var(--slk-color-dark);
}

.slk-badge-dark.slk-badge-ghost {
  color: var(--slk-color-dark);
  border: 1px solid var(--slk-color-dark);
}

/*======== BADGE WARNING ========*/
.slk-badge-warning {
  background-color: var(--slk-color-warning);
}

.slk-badge-warning.slk-badge-ghost {
  color: var(--slk-color-warning);
  border: 1px solid var(--slk-color-warning);
}

/*======== BADGE GHOST ========*/
.slk-badge-ghost {
  background-color: transparent;
}
