@import url(../variables.css);

/*======== BADGE ========*/
.mui-badge {
  display: inline-block;
  padding: 6px 12px;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
  /* text-transform: uppercase; */
  color: var(--mui-color-white);
}

/*======== BADGE DEFAULT ========*/
.mui-badge-default {
  background-color: var(--mui-color-secondary);
}

.mui-badge-default.mui-badge-ghost {
  color: var(--mui-color-secondary);
  border: 1px solid var(--mui-color-secondary);
}

/*======== BADGE PRIMARY ========*/
.mui-badge-primary {
  background-color: var(--mui-color-primary);
}

.mui-badge-primary.mui-badge-ghost {
  color: var(--mui-color-primary);
  border: 1px solid var(--mui-color-primary);
}

/*======== BADGE SUCCESS ========*/
.mui-badge-success {
  background-color: var(--mui-color-success);
}

.mui-badge-success.mui-badge-ghost {
  color: var(--mui-color-success);
  border: 1px solid var(--mui-color-success);
}

/*======== BADGE INFO ========*/
.mui-badge-info {
  background-color: var(--mui-color-info);
}

.mui-badge-info.mui-badge-ghost {
  color: var(--mui-color-info);
  border: 1px solid var(--mui-color-info);
}

/*======== BADGE DANGER ========*/
.mui-badge-danger {
  background-color: var(--mui-color-danger);
}

.mui-badge-danger.mui-badge-ghost {
  color: var(--mui-color-danger);
  border: 1px solid var(--mui-color-danger);
}

/*======== BADGE DARK ========*/
.mui-badge-dark {
  background-color: var(--mui-color-dark);
}

.mui-badge-dark.mui-badge-ghost {
  color: var(--mui-color-dark);
  border: 1px solid var(--mui-color-dark);
}

/*======== BADGE WARNING ========*/
.mui-badge-warning {
  background-color: var(--mui-color-warning);
}

.mui-badge-warning.mui-badge-ghost {
  color: var(--mui-color-warning);
  border: 1px solid var(--mui-color-warning);
}

/*======== BADGE GHOST ========*/
.mui-badge-ghost {
  background-color: transparent;
}
