@import url(../variables.css);

/*======== BUTTON ========*/
.mui-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px 12px;
  border-radius: var(--mui-border-radius);
  height: 32px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mui-btn:not(.mui-btn-disabled) {
  cursor: pointer;
}

.mui-btn-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.mui-btn-block {
  width: 100%;
  display: block;
}

/*======== BUTTON SIZE ========*/
.mui-btn-sm {
  padding: 6px 9px;
  height: 24px;
  font-size: 12px;
}

.mui-btn-lg {
  padding: 10px 15px;
  height: 40px;
}

/*======== BUTTON DEFAULT ========*/
.mui-btn-default,
.mui-btn-default.mui-btn-ghost:not(.mui-btn-disabled):hover {
  color: var(--mui-color-white);
  background-color: var(--mui-color-secondary);
  border-color: var(--mui-color-secondary);
}

.mui-btn-default:not(.mui-btn-ghost):not(.mui-btn-disabled):hover {
  background-color: var(--mui-color-secondary-active);
  border-color: var(--mui-color-secondary-active);
}

.mui-btn-default.mui-btn-ghost {
  color: var(--mui-color-secondary);
  background-color: transparent;
  border-color: var(--mui-color-secondary);
}

/*======== BUTTON PRIMARY ========*/
.mui-btn-primary,
.mui-btn-primary.mui-btn-ghost:not(.mui-btn-disabled):hover {
  color: var(--mui-color-white);
  background-color: var(--mui-color-primary);
  border-color: var(--mui-color-primary);
}

.mui-btn-primary:not(.mui-btn-ghost):not(.mui-btn-disabled):hover {
  background-color: var(--mui-color-primary-active);
  border-color: var(--mui-color-primary-active);
}

.mui-btn-primary.mui-btn-ghost {
  color: var(--mui-color-primary);
  background-color: transparent;
  border-color: var(--mui-color-primary);
}

/*======== BUTTON SUCCESS ========*/
.mui-btn-success,
.mui-btn-success.mui-btn-ghost:not(.mui-btn-disabled):hover {
  color: var(--mui-color-white);
  background-color: var(--mui-color-success);
  border-color: var(--mui-color-success);
}

.mui-btn-success:not(.mui-btn-ghost):not(.mui-btn-disabled):hover {
  background-color: var(--mui-color-success-active);
  border-color: var(--mui-color-success-active);
}

.mui-btn-success.mui-btn-ghost {
  color: var(--mui-color-success);
  background-color: transparent;
  border-color: var(--mui-color-success);
}

/*======== BUTTON INFO ========*/
.mui-btn-info,
.mui-btn-info.mui-btn-ghost:not(.mui-btn-disabled):hover {
  color: var(--mui-color-white);
  background-color: var(--mui-color-info);
  border-color: var(--mui-color-info);
}

.mui-btn-info:not(.mui-btn-ghost):not(.mui-btn-disabled):hover {
  background-color: var(--mui-color-info-active);
  border-color: var(--mui-color-info-active);
}

.mui-btn-info.mui-btn-ghost {
  color: var(--mui-color-info);
  background-color: transparent;
  border-color: var(--mui-color-info);
}

/*======== BUTTON DANGER ========*/
.mui-btn-danger,
.mui-btn-danger.mui-btn-ghost:not(.mui-btn-disabled):hover {
  color: var(--mui-color-white);
  background-color: var(--mui-color-danger);
  border-color: var(--mui-color-danger);
}

.mui-btn-danger:not(.mui-btn-ghost):not(.mui-btn-disabled):hover {
  background-color: var(--mui-color-danger-active);
  border-color: var(--mui-color-danger-active);
}

.mui-btn-danger.mui-btn-ghost {
  color: var(--mui-color-danger);
  background-color: transparent;
  border-color: var(--mui-color-danger);
}

/*======== BUTTON DARK ========*/
.mui-btn-dark,
.mui-btn-dark.mui-btn-ghost:not(.mui-btn-disabled):hover {
  color: var(--mui-color-white);
  background-color: var(--mui-color-dark);
  border-color: var(--mui-color-dark);
}

.mui-btn-dark:not(.mui-btn-ghost):not(.mui-btn-disabled):hover {
  background-color: var(--mui-color-dark-active);
  border-color: var(--mui-color-dark-active);
}

.mui-btn-dark.mui-btn-ghost {
  color: var(--mui-color-dark);
  background-color: transparent;
  border-color: var(--mui-color-dark);
}

/*======== BUTTON WARNING ========*/
.mui-btn-warning,
.mui-btn-warning.mui-btn-ghost:not(.mui-btn-disabled):hover {
  color: var(--mui-color-dark);
  background-color: var(--mui-color-warning);
  border-color: var(--mui-color-warning);
}

.mui-btn-warning:not(.mui-btn-ghost):not(.mui-btn-disabled):hover {
  background-color: var(--mui-color-warning-active);
  border-color: var(--mui-color-warning-active);
}

.mui-btn-warning.mui-btn-ghost {
  color: var(--mui-color-warning);
  background-color: transparent;
  border-color: var(--mui-color-warning);
}
