@import url(../variables.css);

/*======== SWITCH ========*/
.mui-switch {
  --label-width: 54px;
  --label-height: 25px;
  --handle-width: 19px;
  --handle-height: 19px;
}

.mui-switch-small {
  --label-width: 44px;
  --label-height: 20px;
  --handle-width: 14px;
  --handle-height: 14px;
}

.mui-switch-small > .mui-switch-label::before,
.mui-switch-small > .mui-switch-label::after {
  transform: scale(0.75) translateY(-60%);
}

.mui-switch-large {
  --label-width: 64px;
  --label-height: 30px;
  --handle-width: 24px;
  --handle-height: 24px;
}

.mui-switch-large > .mui-switch-label::before,
.mui-switch-large > .mui-switch-label::after {
  font-size: 14px;
}

.mui-switch:not(.mui-switch-text) {
  --label-width: 44px;
}

.mui-switch-small:not(.mui-switch-text) {
  --label-width: 34px;
}

.mui-switch-large:not(.mui-switch-text) {
  --label-width: 54px;
}

.mui-switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: var(--label-width);
  height: var(--label-height);
  background-color: transparent;
  cursor: pointer;
}

.mui-switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.mui-switch-input:checked ~ .mui-switch-label {
  background: var(--mui-color-primary);
}

.mui-switch-input:checked ~ .mui-switch-label::before {
  opacity: 1;
}

.mui-switch-input:checked ~ .mui-switch-label::after {
  opacity: 0;
}

.mui-switch-input:checked ~ .mui-switch-handle {
  left: calc(var(--label-width) - var(--handle-width) - 3px);
}

.mui-switch-label {
  position: relative;
  display: block;
  height: inherit;
  background: var(--mui-color-secondary);
  border-radius: var(--label-height);
  transition: background 0.1s 0.1s ease-out;
}

.mui-switch-label::before,
.mui-switch-label::after {
  font-size: 12px;
  content: attr(data-on);
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 50%;
  min-width: fit-content;
  text-align: center;
}

.mui-switch-label::before {
  left: 3px;
  opacity: 0;
}

.mui-switch-label::after {
  content: attr(data-off);
  right: 3px;
  opacity: 1;
}

.mui-switch-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: var(--handle-width);
  height: var(--handle-height);
  background: #fff;
  border-radius: 50%;
  transition: left 0.2s ease-out;
}

.mui-switch-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*======== SWITCH SUCCESS ========*/
.mui-switch-success > .mui-switch-input:checked ~ .mui-switch-label {
  background: var(--mui-color-success);
}

/*======== SWITCH DANGER ========*/
.mui-switch-danger > .mui-switch-input:checked ~ .mui-switch-label {
  background: var(--mui-color-danger);
}

/*======== SWITCH INFO ========*/
.mui-switch-info > .mui-switch-input:checked ~ .mui-switch-label {
  background: var(--mui-color-info);
}

/*======== SWITCH WARNING ========*/
.mui-switch-warning > .mui-switch-input:checked ~ .mui-switch-label {
  background: var(--mui-color-warning);
}

/*======== SWITCH DARK ========*/
.mui-switch-dark > .mui-switch-input:checked ~ .mui-switch-label {
  background: var(--mui-color-dark);
}
