body {
    margin: 0;
    background: #f5f6fa;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
}

.container {
    padding: 24px;

    .container-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .container-row+.container-row {
        margin-top: 24px;
    }

    .card {
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #f5f6fa;
        background-clip: border-box;
        border: 1px solid #e5e9f2;
        border-radius: 0.25rem;

        .card-header {
            border-bottom: 1px solid #e5e9f2;
            padding-left: 1.88rem;
            padding-right: 1.88rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background-color: #ffffff;
            border-radius: calc(~"0.25rem - 1px") calc(~"0.25rem - 1px") 0 0;
        }

        .card-body {
            flex: 1 1 auto;
            padding: 16px;

            .container-row+.container-row {
                margin-top: 16px;
            }
        }
    }

    .card+.card {
        margin-left: 16px;
    }

    .sub-card {
        width: calc(~"50% - 16px");

        .card-body {
            background: #ffffff;
            padding: 24px;
        }
    }

    .badge-list {
        display: flex;
        gap: 12px;
    }

    .button-list {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;

        >button,
        >div {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    .alert-list {
        display: grid;
        gap: 12px;
    }

    .switch-list {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
    }
}